body {
  margin: 0;
}

h1 {
  font-family: "Karla", sans-serif;
  color: #293264;
}

ul {
  list-style-type: none;
}

button {
  transition-duration: 0.5s;
  cursor: pointer;
}

.title {
  margin: 0;
  padding: 0;
}

.questionTitle {
  display: flex;
  justify-content: left;
  text-align: left;
  text-align-last: left;
  margin-left: 0;
}

.quizBtn {
  font-family: "Inter", sans-serif;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: 0;
  border-radius: 5px;
  padding: 1rem 4rem;
  font-size: medium;
}

.description {
  font-family: "Inter", sans-serif;
  margin-top: 0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #f5f7fb;
  background-image: radial-gradient(
      ellipse 350px 160px at bottom left,
      #deebf8 100%,
      transparent 0
    ),
    radial-gradient(
      ellipse 350px 180px at top right,
      #fffad1 100%,
      transparent 0
    );
}

.choices {
  display: flex;
  justify-content: left;
}

.choicesBtn {
  margin: 20px;
  background-color: #f5f7fb;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.questionsContainer {
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 500px;
  margin-bottom: 500px;
}
