body{
  margin: 0;
}

h1{
  font-family: 'Karla', sans-serif;
  color: #293264;
}

ul {
  list-style-type: none;
}

.title{
  margin: 0;
  padding: 0;
}

.questionTitle{
  display: flex;
  justify-content: left;
  text-align: left;
  text-align-last: left;
  margin-left: 0;
}

.startQuizBtn{
  font-family: 'Inter', sans-serif;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: 0;
  border-radius: 5px;
  padding: 1rem 4rem;
  font-size: medium;
}

.description{
  font-family: 'Inter', sans-serif;
  margin-top:0.2rem
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #F5F7FB;
  background-image:
  radial-gradient(ellipse 350px 160px at bottom left, #DEEBF8 100%, transparent 0),
  radial-gradient(ellipse 350px 180px at top right, #FFFAD1 100%, transparent 0);
}

.choices{
  display: flex;
  justify-content: left;
}

.choicesBtn{
  margin: 20px;
  background-color: #F5F7FB;
  padding: .5rem 2rem;
  border-radius: 10px;
}

.questionsContainer{
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 500px;
  margin-bottom: 500px;
}
